# 项目相关
DATA_DIR=.data
PROJECT_NAME=gstrans

# Postgres 相关
# PGSQL_RESET_DB 为重新创建数据库开关
# 可用值：0, 1
# PostgreSQL 服务器启动时，如果不存在数据库，则会自动生成
# 通常情况下值为0，可以通过手动删除数据库文件清除数据库
# 值为1时，每次启动时都会强制重建数据库
PGSQL_RESET_DB=0
PGSQL_PORT=5432
PGSQL_USER=translate_api
PGSQL_PASS=translate_api
PGSQL_DB=trans_api
